<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/favicon/favicon-96x96.png}">
</head>
<body>
    <h1>HALLO - BELAJAR THYMELEAF WITH HEROKUA</h1>
    <button th:onclick="sendEmail()">Send Email</button>

    <!-- script javascript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        function sendEmail() {
            let dataRequest = {
                'sentTo' : 'farizcb@yopmail.com',
                'subject' : 'TEST SEND EMAIL',
                'content' : 'HALLOOOOOO !!!'
            };
            $.ajax({
                type: 'POST',
                url: '/api/mail/send',
                data: JSON.stringify(dataRequest),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
        }
    </script>
</body>
</html>